$blue-500: #556CD6
$blue-600: #3D4EAC
$gray-100: #E3E8EE
$gray-200: #C1C9D2

$red-50: #FFF8F5
$red-100: #FDE2DD
$red-200: #FBB5B2
$red-300: #FA8389
$red-400: #ED5F74
$red-500: #CD3D64
$red-600: #A41C4E
$red-700: #80143F
$red-800: #5E1039
$red-900: #420828
